StackLayout{
    background:url(res://login_bg) no-repeat top top;
    background-size: 100% 100%;
    color: white;
}
.header,.weight{
    font-weight: bold;
}

.input Label{
    padding-top: 10;
    font-weight: bold;
    width: 116.5;
    line-height: 24;
}
.input TextField{
    width: 60%;
    color: white;
    font-size: 14;
    border-color: transparent;
    font-weight: bold;
    // placeholder-color: rgba(255, 255, 255, 0.54);
}
.button Button,.btn-code{
    color: rgb( 62, 117, 53); 
    font-size: 18;
    line-height: 24;
    font-weight: bold;
}
.btn-code{
    font-size: 12;
    height: 40;
    padding: 7.5 5;
}