<ScrollView class="page" orientation="vertical">
    <StackLayout sdkExampleTitle sdkToggleNavButton orientation="vertical">
        <FlexboxLayout flexDirection="column" padding="0 35" marginTop="39">
            <FlexboxLayout class="header" flexDirection="column">
                <Label text="PASSWORD" fontSize="36"></Label>
                <FlexboxLayout>
                    <Label fontSize="15" marginTop="38" width="188" textWrap="true" text="Forgot Password"></Label>
                </FlexboxLayout>
            </FlexboxLayout>
            <FlexboxLayout flexDirection="column" marginTop="134.5">
                <FlexboxLayout class="input" borderBottomWidth="0.5" borderColor="#fff" fontSize="15" >
                    <Label alignSelfProperty="center" text="Email"></Label>
                    <TextField  borderBottomWidth="0.5" hint="Please enter your email!" [(ngModel)]="email" text="1234567890@gamil.com" keyboardType="email"></TextField>
                </FlexboxLayout>
            </FlexboxLayout>
            <FlexboxLayout class="button" height="221.5" flexDirection="column" marginTop="40">
                <Button margin="0" borderColor="transparent" (tap)="upPass()" backgroundColor="white" borderRadius="20" text="CONFIRM" class="btn btn-outline btn-active" ></Button>
            </FlexboxLayout>
        </FlexboxLayout>
    </StackLayout>
</ScrollView>
