.page {
    .h2{
        margin: 14.5 20 0;
    }

    FlexboxLayout{
        color: rgb(53, 108, 44);
        font-size: 15;
        line-height: 18;
        
    }

    ListView{
        Image{
            width: 10;
            height: 17.5;
        }
    }
    
}