Image{
  margin:0 0 10 0
}
StackLayout{
    flex: 1;
    margin-top: 19.5;
    margin-bottom: 5.5;
}

label{
    color: rgb(11,111,50)
}
WrapLayout{
   margin: 0 auto;
}
.container{
    text-align: center
}