GridLayout{
    border-radius: 10;
}
.sarch{
     background-image: url('res://icon_sarch');
    // background-size: 16 15;
    background-repeat: no-repeat
}
.text{
    placeholder-color: rgb(153,153,153);
}
